
.sign-up, .login {
    text-align: center; 
}

.sign-up h1, .login h1 {
    color: blueviolet;
    margin-bottom: 80px;
    margin-top: 50px;
}
.auth-toggle-link{
    color: blueviolet;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

.error-p{
    color: red;
}